<div id="<%= dom_id genre %>">
  <p>
    <strong>Name:</strong>
    <%= link_to genre.name, genre %>
  </p>

  <p>
    <strong>Parent genre:</strong>
    <%= genre.parent_genre.name if genre.parent_genre.present? %>
  </p>

  <p>
    <strong>Keywords:</strong>
    <%= genre.keywords %>
  </p>

  <p>
    <strong>Book with genre:</strong>
    <%= genre.books.size %>
  </p>

  <% genre.subgenres.each do |genre| %>
    <div style="padding-left: 2rem">
      <%= render genre %>
    </div>
  <% end %>
</div>
