<% content_for :title, "Login" %>

<h2>Login</h2>

<%= form_with url: sessions_path do |form| %>
  <div>
    <%= form.label :username, "Username" %>
    <%= form.text_field :username, placeholder: "Username" %>
  </div>

  <div>
    <%= form.label :password, "Password" %>
    <%= form.password_field :password, placeholder: "Password" %>
  </div>

  <div>
    <%= form.check_box :remember_me %>
    <%= form.label :remember_me, "Remember me (uses cookies)" %>
  </div>

  <%= submit_tag "Submit", class: "button", data: { turbo_submits_with: "Submitting..." } %>
<% end %>
