<div id="<%= dom_id source %>">
  <%= image_tag source.logo.variant(:medium) if source.logo.attached? %>

  <p>
    <strong>Name:</strong>
    <%= source.name %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= source.slug %>
  </p>

  <p>
    <strong>Base url:</strong>
    <%= source.base_url %>
  </p>

</div>
