<%= form_with(model: listing) do |form| %>
  <% if listing.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
        <% listing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :book_id, style: "display: block" %>
   <%= form.collection_select :book_id, Book.all, :id, :title, prompt: "Select a Book" %>
  </div>

  <div>
    <%= form.label :source_id, style: "display: block" %>
    <%= form.collection_select :source_id, Source.all, :id, :name, prompt: "Select a Source" %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :currency, style: "display: block" %>
    <%= form.text_field :currency %>
  </div>

  <div>
    <%= form.label :condition, "Condition", style: "display: block" %>
    <%= form.select :condition, Listing.conditions.keys.map { |f| [f.titleize, f] }, prompt: "Select a condition" %>
  </div>

  <div>
    <%= form.label :url, style: "display: block" %>
    <%= form.text_field :url %>
  </div>

  <div>
    <%= form.label :last_scraped_at, style: "display: block" %>
    <%= form.datetime_field :last_scraped_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
