<%= link_to listing.url, class: "listing", target: "_blank", ref: "noreferral nofollow", aria: { labelledby: "listing-#{listing.id}" } do %>
  <%= image_tag (listing.source.logo.attached? ? listing.source.logo.variant(:medium) : ""), class: "listing__image" %>

  <span class="listing__content">
    <span class="listing__name" id="listing-<%= listing.id %>"><%= listing.source.name %></span>

    <span class="listing__price">
      €<%= listing.price_large %>,
      <%= tag.span listing.price_cents, class: "listing__cents" %>
    </span>

    <span class="listing__condition">
      <%= listing.condition %>
      <%= tag.span "(#{listing.condition_details})" if listing.condition_details.present? %>
    </span>

    <span class="listing__shipping">
      Gratis verzending
    </span>
  </span>
<% end %>
