<div id="<%= dom_id listing %>">
  <p>
    <strong>Book:</strong>
    <%= listing.book.title %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= listing.source.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= number_with_precision(listing.price, precision: 2) %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= listing.currency %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= listing.url %>
  </p>

  <p>
    <strong>Last scraped at:</strong>
    <%= listing.last_scraped_at %>
  </p>

  <%= link_to "View listing", listing %>
</div>
