<%= link_to listing.url, class: "listing", target: "_blank", ref: "noreferral nofollow", aria: { labelledby: "listing-#{listing.id}" } do %>
  <%= image_tag (listing.source.logo.attached? ? rails_public_blob_url(listing.source.logo.variant(:medium).processed) : ""), class: "listing__image" %>

  <span class="listing__content">
    <span class="listing__name" id="listing-<%= listing.id %>"><%= listing.source.name %></span>

    <%= render "listings/price", listing: listing %>

    <span class="listing__condition">
      <%= listing.condition_label %>
      <%= tag.span "(#{listing.condition_details})" if listing.condition_details.present? %>
    </span>

    <span class="listing__shipping">
      Gratis verzending
    </span>
  </span>
<% end %>
