<div id="<%= dom_id listing %>" style="opacity: <%= listing.available? ? 1 : 0.5 %>">
  <p>
    <strong>Book:</strong>
    <%= listing.book.title %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= listing.source.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= number_with_precision(listing.price, precision: 2) %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= listing.currency %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= listing.condition %>
    <%= tag.span "(#{listing.condition_details})" if listing.condition_details.present? %>
  </p>

  <p>
    <strong>Number of pages:</strong>
    <%= listing.number_of_pages %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= listing.description %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= link_to listing.url, listing.url, target: "_blank", ref: "noreferral nofollow" if listing.url.present? %>
  </p>

  <p>
    <strong>Last scraped at:</strong>
    <%= listing.last_scraped_at %>
  </p>

  <p>
    <strong>Was last scrape successful:</strong>
    <%= listing.was_last_scrape_successful %>
  </p>

  <%= link_to "View listing", [:admin, listing] %>
</div>
