<% content_for :title, "#{heading} | Admin" %>

<div class="layout" data-turbo-prefetch="false">
  <h1 class="heading"><%= heading %></h1>

  <nav class="button-group">
    <%= link_to "Admin", admin_root_path, class: "button" %>
    <%= link_to "Books", admin_books_path, class: "button" %>
    <%= link_to "Listings", admin_listings_path, class: "button" %>
    <%= link_to "Authors", admin_authors_path, class: "button" %>
    <%= link_to "Sources", admin_sources_path, class: "button" %>
    <%= link_to "Genres", admin_genres_path, class: "button" %>
    <%= link_to "Users", admin_users_path, class: "button" %>
  </nav>

  <p style="color: red"><%= flash[:alert] %></p>
  <p style="color: green"><%= notice %></p>

  <hr>

  <%= yield %>
</div>
