<%= render "admin/layout", heading: "Authors" do %>
  <%= page_entries_info @authors %>

  <hr>

  <%= link_to "New author", new_admin_author_path, class: "button button--primary" %>

  <div id="authors">
    <% @authors.each do |author| %>
      <%= render author %>
      <p>
        <%= link_to "Show this author", [:admin, author] %>
      </p>
    <% end %>
  </div>

  <%= paginate @authors %>
<% end %>
