<section class="hero">
  <h1>
    Alle boeken, alle prijzen,<br>
    <span class="wavy-underline">nu alleen nog kiezen.</span>
  </h1>

  <h2>Vind boeken van alle webshops op één plek.<br>Nieuw, tweedehands, geen gedoe.<br>Alle deals direct bij elkaar.</h2>

  <div class="hero__image">
    <%= render "hero_image" %>
  </div>
</section>

<div class="layout">
  <section>
    <h2 class="mb-4">Iedereen leest deze.</h2>

    <div class="cards">
      <% cache ["hot-books", @hot_books.maximum(:updated_at)], expires_in: 4.hours do %>
        <%= render collection: @hot_books, partial: "books/card", as: :book %>
      <% end %>
    </div>

    <%= link_to "Bekijk ze allemaal", books_path, class: "button button--large mt-2" %>
  </section>

  <section class="mt-8">
    <h2 class="mb-4">Zin in een andere wereld?</h2>

    <div class="cards">
      <% cache ["hot-fantasy-books", @fantasy_books.maximum(:updated_at)], expires_in: 4.hours do %>
        <%= render collection: @fantasy_books, partial: "books/card", as: :book %>
      <% end %>
    </div>

    <%= link_to "Bekijk alles in fantasy", genre_path("fantasy"), class: "button button--large mt-2" %>
  </section>

  <section class="mt-8">
    <h2 class="mb-4">Misschien iets mysterieus?</h2>

    <div class="cards">
      <% cache ["hot-mystery-books", @mystery_books.maximum(:updated_at)], expires_in: 4.hours do %>
        <%= render collection: @mystery_books, partial: "books/card", as: :book %>
      <% end %>
    </div>

    <%= link_to "Bekijk alles in mysterie", genre_path("mysterie"), class: "button button--large mt-2" %>
  </section>

  <section class="mt-8">
    <h2 class="mb-4">Aan het koken?</h2>

    <div class="cards">
      <% cache ["hot-cook-books", @cook_books.maximum(:updated_at)], expires_in: 4.hours do %>
        <%= render collection: @cook_books, partial: "books/card", as: :book %>
      <% end %>
    </div>

    <%= link_to "Bekijk alle kookboeken", genre_path("kookboeken"), class: "button button--large mt-2" %>
  </section>
</div>
