<article class="item">
  <%= link_to book, class: "item__image", aria: { labelledby: book.isbn } do %>
    <%= render "books/cover", book: book, small: true, image_variant: :small %>
  <% end %>

  <%= link_to book, class: "item__content", aria: { labelledby: book.isbn } do %>
    <span class="item__main">
      <span class="item__heading line-clamp line-clamp--line-1" id="<%= book.isbn %>" role="heading" aria-label="2">
        <%= book.title %>

        <%= tag.small "- #{book.subtitle}" if book.subtitle.present? %>
      </span>

      <span class="item__details" role="complementary">
        <span><%= human_list(book.authors.pluck(:name)) %></span>

        <span class="separator"></span>

        <span>
          <%= book.language_label %>
        </span>

        <span class="separator"></span>

        <span>
          <%= book.format_label %>
        </span>

        <span class="separator"></span>

        <span>
          <%= book.published_year %>
        </span>
      </span>

      <span class="item__description line-clamp line-clamp--line-2">
        <%= book.description %>

        <%= tag.em "Geen beschijving beschikbaar" if book.description.blank? %>
      </span>
    </span>

    <span class="item__aside">
      <% if book.listings_with_price.any? %>
        <span class="item__note">
          Beschikbaar bij <%= book.listings_with_price.size %> verkopers
        </span>
      <% end %>

      <span class="item__price">
        <% if book.listings_with_price.any? %>
          Vanaf
          <%= render "listings/price", listing: book.cheapest_listing %>
        <% else %>
          <em>Niet beschikbaar</em>
        <% end %>
      </span>
    </span>
  <% end %>
</article>
