<article class="card">
  <%= link_to book,
    class: "card__image",
    style: book.cover_aspect_ratio.present? ? "--aspect-ratio: #{book.cover_aspect_ratio}" : nil,
    aria: { labelledby: book.isbn } do %>
    <%= render "books/cover", book: book, small: true, image_variant: :small, loading: "lazy" %>
  <% end %>

  <%= link_to book, class: "card__content", aria: { labelledby: book.isbn } do %>
    <span class="card__heading line-clamp line-clamp--line-1" id="<%= book.isbn %>" role="heading" aria-label="2">
      <%= book.title %>
    </span>

    <span class="font-small line-clamp line-clamp--line-1"><%= human_list(book.authors.pluck(:name)) %></span>

    <span class="card__details" role="complementary">
      <span>
        <%= book.language_label %>
      </span>

      <% if !book.unknown_format? %>
        <span class="separator"></span>

        <span>
          <%= book.format_label %>
        </span>
      <% end %>

      <% if book.published_year.present? %>
        <span class="separator"></span>

        <span>
          <%= book.published_year %>
        </span>
      <% end %>
    </span>

    <span class="card__tray">
      <% if book.listings_with_price.any? %>
        <span class="card__note">
          <em>Bij <%= book.listings_with_price.size %> verkoper<%= "s" if book.listings_with_price.many? %></em>
        </span>
      <% end %>

      <span class="card__price">
        <% if book.listings_with_price.any? %>
          Vanaf
          <%= render "listings/price", listing: book.cheapest_listing %>
        <% elsif book.last_scrape_finished_at.nil? %>
          <em>Onbekend</em>
        <% else %>
          <em>Niet beschikbaar</em>
        <% end %>
      </span>
    </span>

    <%= image_tag rails_public_blob_url(book.cover_image.variant(:small).processed), class: "card__blur", width: 120, height: 120, alt: "", loading: "lazy" if book.cover_image.attached? %>
  <% end %>
</article>
