<% small ||= false %>
<% image_variant ||= :large %>
<% width = small ? 120 : 300 %>
<% height = (width.to_f / (book.cover_original_width.to_f) * (book.cover_original_height.to_f)) %>
<% loading ||= nil %>
<% fetchpriority ||= nil %>

<div
  class="cover <%= "cover--small" if small %>"
  style="<%= "--aspect-ratio: #{book.cover_aspect_ratio}" if book.cover_aspect_ratio.present? %>">

  <% if book.cover_image.attached? %>
    <%= image_tag rails_public_blob_url(book.cover_image.variant(image_variant).processed), width:, height:, alt: book.title, loading:, fetchpriority: %>

    <% if !small %>
      <%= image_tag rails_public_blob_url(book.cover_image.variant(image_variant).processed), width:, height:, class: "cover__blur", alt: "", loading: %>
    <% end %>
  <% else %>
    <div class="cover__empty">
      <%= inline_svg_tag "images/icons/icon-no-image.svg", width: 60, height: 60, alt: "Geen cover beschikbaar" %>
    </div>
  <% end %>
</div>
