<div class="faq">
  <h2 class="faq__heading">Nog wat vragen?</h2>

  <details class="faq__item">
    <summary class="faq__question">
      Waar is dit boek het goedkoopst te vinden?
      <%= inline_svg_tag "images/icons/icon-caret-down.svg", width: 27, height: 27 %>
    </summary>

    <div class="faq__answer">
      <%= simple_format(book_listings_to_summary(@book)) %>
    </div>
  </details>

  <% if @book.listings_with_price.where(condition: :damaged).any? %>
    <details class="faq__item">
      <summary class="faq__question">
        Wat betekend het als het boek staat aangegeven als beschadigd?
        <%= inline_svg_tag "images/icons/icon-caret-down.svg", width: 27, height: 27 %>
      </summary>

      <div class="faq__answer">
        <p>Dit boek is nog nooit gelezen of gebruikt, maar heeft lichte beschadigingen opgelopen tijdens printen, transport of misschien bij opslag. Het is verder volledig leesbaar zonder dat er pagina's missen. Er is eigenlijk niets mis mee!</p>
      </div>
    </details>
  <% end %>

  <% if @book.authors.any? %>
    <details class="faq__item">
      <summary class="faq__question">
        Door wie is dit boek geschreven?
        <%= inline_svg_tag "images/icons/icon-caret-down.svg", width: 27, height: 27 %>
      </summary>

      <div class="faq__answer">
        <p>"<%= @book.title %>" is geschreven door <%= @book.authors_human_list %>.</p>
      </div>
    </details>
  <% end %>

  <details class="faq__item">
    <summary class="faq__question">
      Wanneer is dit boek uitgebracht?
      <%= inline_svg_tag "images/icons/icon-caret-down.svg", width: 27, height: 27 %>
    </summary>

    <div class="faq__answer">
      <p>Deze editie van "<%= @book.title %>" is voor het eerst uitgebracht op <%= @book.formatted_published_date %>.</p>
    </div>
  </details>
</div>
