<%= form_with url: books_path, data: { action: "form_filter" }, method: :get do %>
  <h2>Conditie</h2>

  <p>Nieuw</p>
  <p>Licht beschadigd</p>
  <p>Tweedehands</p>

  <h2>Formaat</h2>

  <%= check_box_tag :format, "hardcover", params[:format]&.include?("hardcover") %> Hardcover<br>
  <%= check_box_tag :format, "paperback", params[:format]&.include?("paperback") %> Paperback<br>
  <%= check_box_tag :format, "overigen", params[:format]&.include?("unknown") %> Overigen<br>

  <h2>Taal</h2>

  <p>Nederlands</p>
  <p>Engels</p>

  <noscript>
    <%= submit_tag "Submit", class: "button", name: nil %>
  </noscript>
<% end %>
