<%= form_with url: books_path, class: "filter", data: { action: "form_filter" }, autocomplete: "off", method: :get do %>
  <%= hidden_field_tag :query, filter_params[:query] %>

  <h2 class="filter__heading">Sorteer.</h2>

  <% sorting_options = [["Relevantie", nil], ["Nieuw naar oud", "new"], ["Oud naar nieuw", "old"]] %>
  <%= select_tag "sort", options_for_select(sorting_options, filter_params[:sort]), { class: "form-select" } %>

  <h2 class="filter__heading mt-4">Beschikbaarheid.</h2>

  <div class="checkbox-switches-group">
    <%= label_tag "", class: "checkbox-switch" do %>
      <%= check_box_tag :available, :true, filter_params[:available] === "true" %>
      <span class="checkbox-switch__label">Took alleen beschikbaar</span>
    <% end %>
  </div>

  <h2 class="filter__heading mt-4">Conditie.</h2>

  <div class="checkbox-switches-group">
    <% condition_labels = { "new" => "Nieuw", "used" => "Tweedehands", "damaged" => "Licht beschadigd" } %>
    <% Listing.conditions.keys.each do |condition| %>
      <% next unless condition_labels[condition] %>
      <%= label_tag "", class: "checkbox-switch" do %>
        <%= check_box_tag "conditions[]", condition, filter_params[:conditions]&.include?(condition) %>
        <span class="checkbox-switch__label"><%= condition_labels[condition] %></span>
      <% end %>
    <% end %>
  </div>

  <h2 class="filter__heading mt-4">Taal.</h2>

  <div class="checkbox-switches-group">
    <% language_labels = { "dutch" => "Nederlands", "english" => "Engels" } %>
    <% Book.languages.keys.each do |language| %>
      <%= label_tag "", class: "checkbox-switch" do %>
        <%= check_box_tag "languages[]", language, filter_params[:languages]&.include?(language) %>
        <span class="checkbox-switch__label"><%= language_labels[language] %></span>
      <% end %>
    <% end %>
  </div>

  <h2 class="filter__heading mt-4">Formaat.</h2>

  <div class="checkbox-switches-group">
    <% format_labels = { "hardcover" => "Hardcover", "paperback" => "Paperback", "unknown" => "Overigen" } %>
    <% Book.formats.keys.reverse.each do |format| %>
      <%= label_tag "", class: "checkbox-switch" do %>
        <%= check_box_tag "formats[]", format, filter_params[:formats]&.include?(format) %>
        <span class="checkbox-switch__label"><%= format_labels[format] %></span>
      <% end %>
    <% end %>
  </div>

  <h2 class="filter__heading mt-4">Uitgifte.</h2>

  <div class="label-group">
    <%= label_tag :year_from, "Van", class: "form-label" %>
    <%= label_tag :year_to, "Tot", class: "form-label" %>
  </div>

  <div class="input-group">
    <%= number_field_tag :year_from, filter_params[:year_from] || 1900, min: 1900, max: Date.current.year, class: "form-input" %>
    <%= number_field_tag :year_to, filter_params[:year_to] || Date.current.year, min: 1900, max: Date.current.year, class: "form-input" %>
  <div>

  <noscript>
    <%= submit_tag "Submit", class: "button", name: nil %>
  </noscript>
<% end %>
