<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :isbn, style: "display: block" %>
    <%= form.text_field :isbn %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :subtitle, style: "display: block" %>
    <%= form.text_field :subtitle %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :author_ids, "Authors", style: "display: block" %>
    <%= form.collection_select :author_ids, Author.all, :id, :name, {}, { multiple: true, size: 5 } %>
  </div>

  <div>
    <%= form.label :genre_ids, "Genres", style: "display: block" %>
    <%= form.collection_select :genre_ids, Genre.all, :id, :name, {}, { multiple: true, size: 5 } %>
  </div>

  <div>
    <%= form.label :number_of_pages, style: "display: block" %>
    <%= form.number_field :number_of_pages %>
  </div>

  <div>
    <%= form.label :format, "Format", style: "display: block" %>
    <%= form.select :format, Book.formats.keys.map { |f| [f.titleize, f] }, prompt: "Select a format" %>
  </div>

  <div>
    <%= form.label :language, "Language", style: "display: block" %>
    <%= form.select :language, Book.languages.keys.map { |f| [f.titleize, f] }, prompt: "Select a language" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
