<% content_for :title, filter_params[:query].present? ? "Zoeken" : "Boeken" %>

<section class="layout">
  <h1 class="heading mb-0">
    <% if any_filter_params? %>
      <% if filter_params[:query].present? %>
        Resultaten voor "<span class="wavy-underline"><%= filter_params[:query] %></span>"
      <% else %>
        <span class="wavy-underline">Op zoek</span> naar een boek
      <% end %>
    <% else %>
      <span class="wavy-underline">Alle</span> boeken
    <% end %>
  </h1>

  <div class="filter-columns mt-8">
    <aside class="filter-columns__filter">
      <%= render "books/filter/form" %>
    </aside>

    <%= turbo_frame_tag "form_filter_content", data: { turbo_action: "replace", turbo_fade: true }, target: "_top" do %>
      <section class="filter-columns__content cards">
        <%= render collection: @books, partial: "books/card", as: :book %>
      </section>

      <nav class="filter-columns__pagination">
        <%= paginate @books, theme: :simple, window: 2 %>
      </nav>
    <% end %>
  </div>
</section>
