<article class="detail">
  <header class="detail__header">
    <h1><%= @book.title %></h1>

    <% @book.authors.each do |author| %>
      <span><%= author.name %></span>
    <% end %>
  </header>

  <aside class="detail__aside">
    <h2>Waar gaat het over?</h2>

    <div class="description">
      <% if @book.description.present? %>
        <%= simple_format(@book.description) %>
      <% else %>
        <p>Sorry, wij weten het niet! Er is helaas geen beschrijving beschikbaar.</p>
      <% end %>
    </div>

    <%= button_to "(re)Generate description",
                  generate_ai_description_for_isbn_path,
                  params: { isbn: @book.isbn },
                  data: { turbo_submits_with: "Running..." },
                  method: :post %>
  </aside>

  <figure class="detail__image cover" style="<%= "--aspect-ratio: #{@book.cover_aspect_ratio}" if @book.cover_aspect_ratio.present? %>">
    <% if @book.cover_image.attached? %>
      <%= image_tag @book.cover_image.variant(:large), width: 300, height: 475 %>
      <%= image_tag @book.cover_image.variant(:large), width: 300, height: 475, class: "cover__blur" %>
    <% else %>
      <div class="cover__empty">
        <%= inline_svg_tag "images/icons/icon-no-image.svg", width: 60, height: 60 %>
      </div>
    <% end %>
  </figure>

  <section class="detail__content">
    <div class="listings">
      <h2>Waar is het te vinden?</h2>

      <%= render @listings %>
    </div>

    <div class="detail__cutout"></div>
  </section>
</article>

<%= tag.h2 @book.subtitle if @book.subtitle %>

<p>
  <strong>Authors:</strong>
</p>

<p>
  <strong>Genres:</strong>
  <% @book.genres.each do |genre| %>
    <span><%= genre.name %></span>
  <% end %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Number of pages:</strong>
  <%= @book.formatted_number_of_pages %>
</p>

<p>
  <strong>Language:</strong>
  <%= @book.language %>
</p>

<p>
  <strong>Format:</strong>
  <%= @book.format %>
</p>

<p>
  <strong>Published date:</strong>
  <% if @book.published_date_text %>
    <%= @book.formatted_published_date %>
    (<%= @book.published_date_text %>)
  <% end %>
</p>

<p>
  <strong>Last scraped at:</strong>
  <%= @book.last_scraped_at || "Never" %>
  <%= button_to "Scrape now",
                run_all_scrapers_for_isbn_path,
                params: { isbn: @book.isbn },
                data: { turbo_submits_with: "Running..." },
                method: :post %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @book.keywords %>
  <%= button_to "(re)Generate keywords",
                generate_ai_keywords_for_isbn_path,
                params: { isbn: @book.isbn },
                data: { turbo_submits_with: "Running..." },
                method: :post %>
</p>

<hr>

<hr>

<div>
  <%= link_to "Edit this book", edit_book_path(@book) %> |
  <%= link_to "Back to books", root_path %>

  <%= button_to "Get cover image for this book",
                attach_image_for_isbn_path,
                params: { isbn: @book.isbn },
                data: { turbo_submits_with: "Running..." },
                method: :post %>

  <%= button_to "Destroy this book", @book, method: :delete %>
</div>
