<p style="color: green"><%= notice %></p>

<h1><%= @book.title %></h1>

<%= tag.h2 @book.subtitle if @book.subtitle %>

<p>
  <strong>Authors:</strong>
  <% @book.authors.each do |author| %>
    <span><%= author.name %></span>
  <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Number of pages:</strong>
  <%= book.formatted_number_of_pages %>
</p>

<p>
  <strong>Language:</strong>
  <%= @book.language %>
</p>

<p>
  <strong>Format:</strong>
  <%= @book.format %>
</p>

<hr>

<%= render @listings %>

<hr>

<div>
  <%= link_to "Edit this book", edit_book_path(@book) %> |
  <%= link_to "Back to books", root_path %>

  <%= button_to "Destroy this book", @book, method: :delete %>
</div>
