<% content_for :title, "#{@book.title} door #{@book.authors_human_list}" %>

<article class="detail">
  <header class="detail__header">
    <h1><%= @book.title %></h1>

    <%= tag.div @book.subtitle, class: "detail__subheader" if @book.subtitle.present? %>

    <%= tag.div human_list_with_links(@book.authors), class: "detail__names" if @book.authors.any? %>
  </header>

  <aside class="detail__aside">
    <h2>Waar gaat het over?</h2>

    <div class="description">
      <div class="<%= "line-clamp" if @book.description.present? && @book.description.size > 1000 %>" id="description">
        <% if @book.description.present? %>
          <%= simple_format(@book.description) %>
        <% else %>
          <p>Sorry, wij weten het niet! Er is helaas geen beschrijving beschikbaar.</p>
        <% end %>
      </div>

      <% if @book.description.present? && @book.description.size > 1000 %>
        <%= button_tag "Lees meer",
                      type: "button",
                      class: "button button--link mt-2",
                      data: { action: "expand_text", expand_with: "Lees minder", collapse_with: "Lees meer" },
                      aria: { expanded: false, controls: "description" } %>
      <% end %>
    </div>

    <% if @book.separated_keywords.any? %>
      <h2 class="mt-8">Iets voor jou?</h2>

      <nav class="tags">
        <%= render partial: "keyword", collection: @book.separated_keywords, as: :keyword %>
      </nav>
    <% end %>

    <h2 class="mt-8">Nog wat extra's?</h2>

    <%= render "summary" %>

    <%= link_to "View in admin", [:admin, @book], class: "button mt-1" if current_user&.admin? %>
  </aside>

  <figure class="detail__image">
    <%= render "cover", book: @book, fetchpriority: "high" %>
  </figure>

  <section class="detail__content">
    <div>
      <h2 class="mb-1">Waar is het te vinden?</h2>

      <% if @book.should_show_scrape_message? %>
        <p class="notice" data-role="poll_listings_summary_notice" data-final-text="We hebben het bijgewerkt, alles is nu up-to-date. Dank je voor het wachten!">
          Oei, het is alweer even geleden dat we dit boek voor het laatst hebben onderzocht. We gaan nu alle winkels voor je af om te kijken of alles nog klopt. Dit kan een klein minuutje duren. Ga achterover zitten, pak er een boek bij of geniet van een momentje rust. Of kom later terug, dat is ook oké!
        </p>
      <% end %>

      <div
        data-action="<%= "poll_listings_summary" if @book.should_show_scrape_message? %>"
        data-url="<%= book_listings_summary_path %>">
        <%= render "book_listings_summary" %>
      </div>
    </div>

    <div class="detail__cutout"></div>
  </section>
</article>

<%= render "faq" %>
