<% content_for :title, "#{@book.title} door #{human_list(@book.authors.pluck(:name))}" %>

<article class="detail">
  <header class="detail__header">
    <h1><%= @book.title %></h1>

    <%= tag.div @book.subtitle, class: "detail__subtitle" if @book.subtitle.present? %>
    <%= tag.div human_list_with_links(@book.authors), class: "detail__names" if @book.authors.any? %>
  </header>

  <aside class="detail__aside">
    <h2>Waar gaat het over?</h2>

    <div class="description">
      <div class="<%= "line-clamp" if @book.description.present? && @book.description.size > 1000 %>" id="description">
        <% if @book.description.present? %>
          <%= simple_format(@book.description) %>
        <% else %>
          <p>Sorry, wij weten het niet! Er is helaas geen beschrijving beschikbaar.</p>
        <% end %>
      </div>

      <% if @book.description.present? && @book.description.size > 1000 %>
        <%= button_tag "Lees meer",
                      type: "button",
                      class: "button button--link mt-2",
                      data: { action: "expand_text", expand_with: "Lees minder", collapse_with: "Lees meer" },
                      aria: { expanded: false, controls: "description" } %>
      <% end %>
    </div>

    <% if @book.separated_keywords.any? %>
      <h2 class="mt-8">Iets voor jou?</h2>

      <nav class="tags">
        <%= render partial: "keyword", collection: @book.separated_keywords, as: :keyword %>
      </nav>
    <% end %>

    <h2 class="mt-8">Nog wat extra's?</h2>

    <%= render "summary" %>

    <%= link_to "View in admin", [:admin, @book], class: "button mt-1" if current_user&.admin? %>
  </aside>

  <figure class="detail__image cover" style="<%= "--aspect-ratio: #{@book.cover_aspect_ratio}" if @book.cover_aspect_ratio.present? %>">
    <% if @book.cover_image.attached? %>
      <%= image_tag @book.cover_image.variant(:large), width: 300, height: 475, alt: @book.title %>
      <%= image_tag @book.cover_image.variant(:large), width: 300, height: 475, class: "cover__blur", alt: "" %>
    <% else %>
      <div class="cover__empty">
        <%= inline_svg_tag "images/icons/icon-no-image.svg", width: 60, height: 60, alt: "Geen cover beschikbaar" %>
      </div>
    <% end %>
  </figure>

  <section class="detail__content">
    <div>
      <h2 class="mb-1">Waar is het te vinden?</h2>

      <p class="mt-0 mb-1"><em>“Het bloemenmeisje” door Anya Niewierra is het goedkoopst bij...</em></p>

      <%= render "listings/group",
        listings: @listings.where(condition: :new),
        heading: "Gloednieuw",
        text: "Jij word de eerst eigennaar" %>

      <%= render "listings/group",
        listings: @listings.where(condition: :used),
        heading: "Tweedehands",
        text: "Een tweede kans is altijd fijn" %>

      <%= render "listings/group",
        listings: @listings.where(condition: :damaged),
        heading: "Beschadigd",
        text: "Nieuw maar met krasje, kan gebeuren" %>
    </div>

    <div class="detail__cutout"></div>
  </section>
</article>

<%= render "faq" %>
