<p style="color: green"><%= notice %></p>

<h1><%= @book.title %></h1>

<% if @book.cover_image.attached? %>
  <%= image_tag @book.cover_image.variant(:large), height: 600 %>
  <%= image_tag @book.cover_image.variant(:small), height: 200 %>
<% end %>

<%= tag.h2 @book.subtitle if @book.subtitle %>

<p>
  <strong>Authors:</strong>
  <% @book.authors.each do |author| %>
    <span><%= author.name %></span>
  <% end %>
</p>

<p>
  <strong>Genres:</strong>
  <% @book.genres.each do |genre| %>
    <span><%= genre.name %></span>
  <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Number of pages:</strong>
  <%= @book.formatted_number_of_pages %>
</p>

<p>
  <strong>Language:</strong>
  <%= @book.language %>
</p>

<p>
  <strong>Format:</strong>
  <%= @book.format %>
</p>

<p>
  <strong>Published date:</strong>
  <% if @book.published_date_text %>
    <%= @book.formatted_published_date %>
    (<%= @book.published_date_text %>)
  <% end %>
</p>

<p>
  <strong>Last scraped at:</strong>
  <%= @book.last_scraped_at || "Never" %>
  <%= button_to "Scrape now",
                run_all_scrapers_for_isbn_path,
                params: { isbn: @book.isbn },
                data: { turbo_submits_with: "Running..." },
                method: :post %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @book.keywords %>
  <%= button_to "(re)Generate keywords",
                generate_ai_keywords_for_isbn_path,
                params: { isbn: @book.isbn },
                data: { turbo_submits_with: "Running..." },
                method: :post %>
</p>

<hr>

<%= render @listings %>

<hr>

<div>
  <%= link_to "Edit this book", edit_book_path(@book) %> |
  <%= link_to "Back to books", root_path %>

  <%= button_to "Get cover image for this book",
                attach_image_for_isbn_path,
                params: { isbn: @book.isbn },
                data: { turbo_submits_with: "Running..." },
                method: :post %>

  <%= button_to "Destroy this book", @book, method: :delete %>
</div>
