<%= form_with(model: [:admin, source]) do |form| %>
  <% if source.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(source.errors.count, "error") %> prohibited this source from being saved:</h2>

      <ul>
        <% source.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "form-input" %>
  </div>

  <div>
    <%= form.label :slug, style: "display: block" %>
    <%= form.text_field :slug, class: "form-input" %>
  </div>

  <div>
    <%= form.label :base_url, style: "display: block" %>
    <%= form.text_field :base_url, class: "form-input" %>
  </div>

  <div>
    <%= form.label :logo %>
    <%= form.file_field :logo %>
  </div>

  <div>
    <%= form.label :shipping_cost, style: "display: block" %>
    <%= form.number_field :shipping_cost, class: "form-input", step: "0.01", min: 0 %>
  </div>

  <div>
    <%= form.label :shipping_cost_currency, style: "display: block" %>
    <%= form.select :shipping_cost_currency, VALID_CURRENCIES, { prompt: "Select a format" }, { class: "form-input" } %>
  </div>

  <div>
    <%= form.label :shipping_cost_free_from_price, style: "display: block" %>
    <%= form.number_field :shipping_cost_free_from_price, class: "form-input", step: "0.01", min: 0 %>
  </div>

  <div>
    <%= form.label :shipping_cost_free_from_quantity, style: "display: block" %>
    <%= form.number_field :shipping_cost_free_from_quantity, class: "form-input", step: "1", min: 0 %>
  </div>

  <div class="mt-1">
    <%= form.submit "Submit", class: "button button--primary" %>
  </div>
<% end %>
