<div id="<%= dom_id source %>">
  <%= image_tag rails_public_blob_url(source.logo.variant(:medium).processed) if source.logo.attached? %>

  <p>
    <strong>Name:</strong>
    <%= source.name %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= source.slug %>
  </p>

  <p>
    <strong>Base url:</strong>
    <%= source.base_url %>
  </p>

  <p>
    <strong>Shipping cost:</strong>
    <%= source.shipping_cost %>
  </p>

  <p>
    <strong>Shipping currency:</strong>
    <%= source.shipping_cost_currency %>
  </p>

  <p>
    <strong>Shipping cost free from price:</strong>
    <%= source.shipping_cost_free_from_price %>
  </p>

  <p>
    <strong>Shipping cost free from quantity:</strong>
    <%= source.shipping_cost_free_from_quantity %>
  </p>
</div>
