<div id="<%= dom_id source %>">
  <%= image_tag rails_public_blob_url(source.logo.variant(:medium).processed) if source.logo.attached? %>

  <p>
    <strong>Name:</strong>
    <%= source.name %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= source.slug %>
  </p>

  <p>
    <strong>Base url:</strong>
    <%= source.base_url %>
  </p>
</div>
