<%= render "admin/layout", heading: "Source #{@source.name}" do %>
  <%= render @source %>

  <div>
    <%= link_to "Edit this source", edit_admin_source_path(@source) %> |
    <%= link_to "Back to sources", admin_sources_path %>

    <%= button_to "Destroy this source", [:admin, @source], method: :delete %>
  </div>
<% end %>
