<div class="<%= "checkbox-list" if genre.parent_genre_id.present? %>" data-role="checkbox_list">
  <%= label_tag "", class: "checkbox-group" do %>
    <%= check_box_tag "genres[]", genre.slug, filter_params[:genres]&.include?(genre), data: { action: "toggle_checkbox_list" } %>
    <span><%= genre.name %></span>
  <% end %>

  <%= render collection: genre.subgenres, partial: "books/filter/filter_genre", as: :genre %>
</div>
