<%= button_tag any_filter_params? ? "Filter actief" : "Filter boeken",
               class: "button button--full-width desktop:hidden #{"button--primary" if any_filter_params?}",
               type: "button",
               data: {
                action: "toggle_content",
                target: "filter",
                shows_with: any_filter_params? ? "Filter actief" : "Filter boeken",
                hides_with: "Filter verbergen",
                toggle_class: "filter--visible" } %>

<%= form_with url: books_path, class: "filter", data: { action: "form_filter", toggleable: "filter" }, autocomplete: "off", method: :get do %>
  <%= hidden_field_tag :query, filter_params[:query] %>

  <h2 class="filter__heading">Sorteer.</h2>

  <% sorting_options = [["Relevantie", nil], ["Nieuw naar oud", "new"], ["Oud naar nieuw", "old"], ["Laatst toegevoegd", "latest"]] %>
  <%= select_tag "sort", options_for_select(sorting_options, filter_params[:sort]), { class: "form-select" } %>

  <h2 class="filter__heading mt-4">Beschikbaarheid.</h2>

  <div>
    <%= label_tag "", class: "checkbox-switch" do %>
      <%= check_box_tag :available, :true, filter_params[:available] === "true" %>
      <span class="checkbox-switch__label">Alleen beschikbaar</span>
    <% end %>
  </div>

  <h2 class="filter__heading mt-4">Conditie.</h2>

  <div>
    <% condition_labels = { "new" => "Nieuw", "used" => "Tweedehands", "damaged" => "Licht beschadigd" } %>
    <% Listing.conditions.keys.each do |condition| %>
      <% next unless condition_labels[condition] %>
      <%= label_tag "", class: "checkbox-group" do %>
        <%= check_box_tag "conditions[]", condition, filter_params[:conditions]&.include?(condition), id: nil %>
        <span><%= condition_labels[condition] %></span>
      <% end %>
    <% end %>
  </div>

  <h2 class="filter__heading mt-4">Taal.</h2>

  <div>
    <% language_labels = { "dutch" => "Nederlands", "english" => "Engels" } %>
    <% Book.languages.keys.each do |language| %>
      <%= label_tag "", class: "checkbox-group" do %>
        <%= check_box_tag "languages[]", language, filter_params[:languages]&.include?(language), id: nil %>
        <span><%= language_labels[language] %></span>
      <% end %>
    <% end %>
  </div>

  <h2 class="filter__heading mt-4">Formaat.</h2>

  <div>
    <% format_labels = { "hardcover" => "Hardcover", "paperback" => "Paperback", "unknown" => "Overigen" } %>
    <% Book.formats.keys.reverse.each do |format| %>
      <%= label_tag "", class: "checkbox-group" do %>
        <%= check_box_tag "formats[]", format, filter_params[:formats]&.include?(format), id: nil %>
        <span><%= format_labels[format] %></span>
      <% end %>
    <% end %>
  </div>

  <h2 class="filter__heading mt-4">Uitgifte.</h2>

  <div class="label-group">
    <%= label_tag :year_from, "Van", class: "form-label" %>
    <%= label_tag :year_to, "Tot", class: "form-label" %>
  </div>

  <div class="input-group">
    <%= number_field_tag :year_from, filter_params[:year_from] || 1900, min: 1900, max: Date.current.year, class: "form-input" %>
    <%= number_field_tag :year_to, filter_params[:year_to] || Date.current.year, min: 1900, max: Date.current.year, class: "form-input" %>
  </div>

  <h2 class="filter__heading mt-4">Genres.</h2>

  <div>
    <% cache_unless filter_params[:genres].present?, "filter-genres" do %>
      <%= render collection: @genres, partial: "books/filter/filter_genre", as: :genre %>
    <% end %>
  </div>

  <%# There's 2 different submit buttons, one for mobile, where the filter does not auto submit, and one for noscript.
    # Visually they are identical but only 1 should show at a time %>

  <%= submit_tag "Filter toepassen", class: "button button--primary button--full-width filter__submit mt-2", name: nil, data: { role: "filter_submit", turbo_submits_with: "..." } %>

  <noscript>
    <%= submit_tag "Filter toepassen", class: "button button--primary button--full-width filter__noscript mt-2", name: nil %>
  </noscript>
<% end %>
