<header class="header">
  <div class="header__content">
    <%= link_to root_path, class: "header__root", aria: { label: "GewoonBoeken.nl" } do %>
      <%= inline_svg_tag "images/logo.svg", height: 50, width: 176, class: "header__logo header__logo--desktop" %>
      <%= inline_svg_tag "images/logo-mark.svg", height: 50, width: 50, class: "header__logo header__logo--mobile" %>
    <% end %>

    <%= render "search" %>

    <div class="header__actions">
      <%= button_tag type: "button", class: "switch #{theme_dark? ? "switch--active" : ""}", data: { action: "toggle_theme switch" }, aria: { label: "Switch tussen licht en donkere thema" } do %>
        <div class="switch__side switch__side--left">
          <%= inline_svg_tag "images/icons/icon-sun.svg", height: 28, width: 28 %>
        </div>

        <div class="switch__side switch__side--right">
          <%= inline_svg_tag "images/icons/icon-moon.svg", height: 28, width: 28 %>
        </div>

        <div class="switch__indicator" data-role="switch_indicator"></div>
      <% end %>
    </div>
  </div>
</header>

<%= render "navigation" %>
