<div itemscope itemtype="https://schema.org/WebSite">
  <meta itemprop="url" content="https://gewoonboeken.nl/"/>

  <%= form_tag books_path, class: "search", itemprop: "potentialAction", itemscope: "", itemtype: "https://schema.org/SearchAction", role: "search", method: :get do %>
    <meta itemprop="target" content="https://gewoonboeken.nl/zoeken/{query}"/>

    <%= search_field_tag :query, params[:query] ? CGI.unescape(params[:query]) : "", placeholder: " ", class: "search__input form-input", itemprop: "query-input", required: "true", autocomplete: "off", id: "query" %>
    <%= label_tag :query, for: "query", class: "search__label" do %>
      <span class="search__text search__text--short">
        Zoeken...
      </span>

      <span class="search__text search__text--full">
        Zoek op <strong>title</strong>, <strong>auteur</strong>, <strong>ISBN</strong>, of <strong>keywoorden</strong>...
      </span>
    <% end %>

    <%= button_tag class: "search__submit button", type: :submit, name: nil, aria: { label: "Zoeken" } do %>
      <%= inline_svg_tag "images/icons/icon-search.svg", height: 28, width: 28 %>
    <% end %>
  <% end %>
</div>
