<!DOCTYPE html>
<html style="<%= theme.present? ? "color-scheme: #{theme}" : "" %>" lang="nl">
  <head>
    <title><%= content_for(:title).present? ? "#{content_for(:title)} | Gewoon Boeken" :  "Gewoon Boeken - De beste prijzen zonder gedoe" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/icon.png">

    <link rel="preload"
      href="<%= vite_asset_url "fonts.scss" %>"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'" /> <!-- https://web.dev/defer-non-critical-css/#optimize -->
    <noscript><%= vite_stylesheet_tag "fonts.scss" %></noscript>


    <%= vite_client_tag %>
    <%= vite_typescript_tag "application" %>
    <%= vite_stylesheet_tag "application.scss" %>

    <%# Prevent flashbangs %>
    <style>@media (prefers-color-scheme: dark) { html:not([style*="color-scheme: light"]) { color-scheme: dark; background: #1f1e1d; color: #f6f3ea; } }</style>
  </head>

  <body>
    <%= render "header" %>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
