<!DOCTYPE html>
<html style="<%= theme_light? ? "color-scheme: light" : "" %>">
  <head>
    <title><%= content_for(:title) || "Gewoon Boeken" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= vite_client_tag %>
    <%= vite_typescript_tag "application" %>
    <%= vite_stylesheet_tag "application.scss" %>

    <%# Prevent flashbangs %>
    <% if !theme_light? %>
      <style>@media (prefers-color-scheme: dark) { html { background: #232323; color: #ccc; } }</style>
    <% end %>
  </head>

  <body>
    <%= link_to "Books", root_path %>
    <%= link_to "Authors", authors_path %>
    <%= link_to "Sources", sources_path %>
    <%= link_to "Listings", listings_path %>
    <%= link_to "Genres", genres_path %>

    <%= button_tag "Light/dark toggle", type: "button", data: { action: "toggle_theme" } %>

    <%= yield %>
  </body>
</html>
